svg.hero-twist(width='575' height='1187' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(d='M-210.717 1701.35 316.072 371.649M298.425 358.339c4.096 6.017-158.958 442.798-151.47 444.221 7.489 1.422-382.906 879.96-384.327 887.43' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M280.765 345.039c8.191 12.032-142.095 441.825-127.142 444.666 14.965 2.843-414.82 873.985-417.663 888.945' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M263.118 331.729c12.287 18.049-125.241 440.839-102.8 445.102 22.442 4.263-446.747 868.019-451.01 890.459' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M245.472 318.419c16.382 24.065-108.379 439.866-78.461 445.55 29.918 5.683-478.672 862.041-484.358 891.971' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M227.811 305.119c20.468 30.067-91.527 438.891-54.12 445.997 37.406 7.106-510.586 856.064-517.692 893.474' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M210.164 291.808c24.563 36.084-74.663 437.92-29.78 446.446 44.883 8.526-542.513 850.096-551.039 894.976' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M192.506 278.496c28.658 42.1-57.812 436.945-5.441 446.893 52.371 9.949-574.426 844.121-584.375 896.491' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M174.857 265.198c32.754 48.117-40.946 435.96 18.889 447.327 59.836 11.367-606.353 838.155-617.722 898.005' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M157.198 251.886c36.85 54.133-24.094 434.986 43.23 447.775 67.324 12.789-638.267 832.179-651.056 899.499' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M139.552 238.576c40.945 60.149-7.232 434.013 67.569 448.222 74.801 14.21-670.194 826.212-684.404 901.012' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M121.891 225.276c45.041 66.165 9.62 433.038 91.909 448.67 82.29 15.632-702.107 820.234-717.739 902.524' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M104.244 211.966c49.136 72.182 26.486 432.054 116.252 449.106 89.766 17.052-734.035 814.268-751.088 904.038' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M86.598 198.656c53.231 78.198 43.337 431.079 140.579 449.552 97.242 18.472-765.96 808.292-784.435 905.542' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M68.937 185.356c57.327 84.214 60.2 430.107 164.919 449.999C338.575 655.248-564.02 1437.68-583.912 1542.4' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M51.29 172.046c61.413 90.216 77.052 429.132 189.259 450.447 112.208 21.315-829.8 796.347-851.116 908.557' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M33.632 158.734c65.508 96.232 93.917 428.147 213.601 450.883 119.684 22.735-861.719 790.403-884.454 910.083' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M15.983 145.436c69.603 102.249 110.769 427.173 237.941 451.331 127.172 24.158-893.642 784.413-917.8 911.583' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-1.675 132.123C72.023 240.388 125.957 558.324 260.594 583.9c134.636 25.575-925.558 778.44-951.136 913.09' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-19.322 118.813c77.794 114.282 144.484 425.226 286.609 452.225 142.125 26.998-957.483 772.462-984.483 914.602' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-36.971 105.515c81.88 120.284 161.337 424.239 310.951 452.66 149.614 28.421-989.398 766.505-1017.816 916.105' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-54.63 92.203C31.357 218.517 123.572 515.47 280.663 545.31c157.09 29.841-1021.324 760.529-1051.165 917.619' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-72.276 78.893C17.793 211.22 122.776 501.185 287.343 532.447 451.91 563.708-765.908 1287.01-797.169 1451.57' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-89.937 65.593C4.242 203.928 121.981 486.9 294.036 519.585 466.091 552.269-791.13 1268.18-823.812 1440.22' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-107.583 52.283c98.262 144.349 228.767 420.345 408.298 454.449C480.247 540.836-816.376 1249.35-850.48 1428.88' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-125.242 38.97c102.367 150.38 245.631 419.373 432.651 454.9 187.02 35.527-1149.017 736.64-1184.541 923.65' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-142.891 25.672C-36.438 182.054 119.593 444.058 314.09 481.005S-866.842 1211.68-903.787 1406.16' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-160.549 12.36c110.56 162.401 279.347 417.414 481.32 455.781C522.744 506.509-892.074 1192.84-930.441 1394.81' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-178.196-.95C-63.552 167.464 118.003 415.49 327.465 455.28c209.461 39.79-1244.773 718.731-1284.561 928.181' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-195.845-14.248c118.74 174.431 313.053 415.453 529.991 456.663C551.084 483.625-942.54 1155.17-983.75 1372.11' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-213.503-27.56c122.835 180.447 329.928 414.482 554.33 457.11 224.403 42.628-1308.613 706.79-1351.247 931.21' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-231.15-40.87c126.93 186.463 346.78 413.507 578.671 457.558C579.412 460.738-993.018 1117.5-1037.07 1349.39' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-248.811-54.17C-117.785 138.309 114.82 358.362 354.2 403.835c239.379 45.473-1372.45 694.835-1417.93 934.215' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-266.457-67.48c135.109 198.493 380.496 411.548 627.352 458.442C607.751 437.855-1043.49 1079.84-1090.38 1326.7' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-284.116-80.793c139.217 204.513 397.358 410.588 651.69 458.902C621.907 426.422-1068.72 1061-1117.03 1315.34' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-301.765-94.09c143.303 210.514 414.212 409.601 676.021 459.335C636.065 414.979-1093.95 1042.18-1143.69 1303.98' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-319.423-107.403c147.398 216.531 431.063 408.627 700.36 459.783 269.298 51.157-1500.137 670.95-1551.287 940.25' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-337.07-120.712c151.494 222.546 447.926 407.654 724.7 460.23 276.774 52.577-1532.06 664.982-1584.64 941.762' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-354.719-134.01c155.589 228.563 464.78 406.667 749.043 460.666 284.262 53.999-1563.984 659.02-1617.984 943.274' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-372.377-147.323c159.684 234.58 481.643 405.695 773.382 461.114C692.744 369.211-1194.9 966.836-1250.32 1258.57' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-390.024-160.633c163.78 240.596 498.495 404.721 797.71 461.56 299.216 56.84-1627.816 647.081-1684.656 946.293' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-407.684-173.933c167.875 246.612 515.358 403.748 822.05 462.008 306.692 58.26-1659.736 641.09-1718.006 947.795' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-425.331-187.243c171.97 252.629 532.212 402.761 846.392 462.444 314.18 59.682-1691.671 635.136-1751.351 949.309' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-442.99-200.555c176.067 258.644 549.076 401.789 870.732 462.891C749.399 323.439-1295.84 891.509-1356.94 1213.17' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-460.638-213.853c180.161 264.66 565.926 400.814 895.071 463.339C763.579 312.011-1321.07 872.668-1383.6 1201.81' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-478.285-227.164c184.247 270.664 582.79 399.842 919.4 463.785C777.725 300.564-1346.31 853.84-1410.25 1190.46' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-495.944-240.475c188.341 276.69 599.642 398.867 943.74 464.232C791.895 289.123-1371.54 835-1436.91 1179.11' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-513.592-253.774c192.438 282.696 616.507 397.883 968.081 464.669C806.064 277.681-1396.79 816.169-1463.57 1167.74' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-531.251-267.086c196.534 288.713 633.359 396.908 992.422 465.117 359.063 68.208-1883.191 599.31-1951.401 958.359' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-548.898-280.396C-348.268 14.332 101.324 115.54 467.864 185.168 834.404 254.797-1447.25 778.5-1516.88 1145.04' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-566.558-293.696C-361.834 7.049 100.515 101.265 474.543 172.316 848.571 243.367-1472.49 759.672-1543.54 1133.69' stroke='#00A4B8' stroke-miterlimit='10')
  path(d='M-584.205-307.006C-375.385-.245 99.735 86.971 481.227 159.44c381.493 72.469-1978.947 581.392-2051.417 962.9' stroke='#00A4B8' stroke-miterlimit='10')
