@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "../helpers/typography/colors";
@import "../helpers/typography/custom";
@import "../helpers/typography/fontSize";
@import "../helpers/typography/fontWeight";
@import "../helpers/typography/spacing";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
}
