.text-sm {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.text-md {
  font-size: 3rem;
  line-height: 3.8rem;
}

.title-xl {
  font-size: 7.3rem;
  line-height: 8.2rem;
  letter-spacing: -0.03em;

  @include breakpoint(lg) {
    font-size: 4.2rem;
    line-height: 4.8rem;
    letter-spacing: -0.02em;
  }
}
