.intro {
  &-inner {
    display: flex;

    @include breakpoint(lg) {
      display: block;
    }
  }

  &-headline {
    letter-spacing: -0.02em;
  }

  &-content {
    padding: 0 1.5rem;
    margin-top: 35.5rem;

    @include breakpoint(xl) {
      margin-top: 10rem;
    }

    @include breakpoint(lg) {
      text-align: right;

      margin-top: -5rem;
      padding: 0 2.4rem;
    }

    @include breakpoint(sm) {
      text-align: left;
    }
  }

  &-thumb {
    flex: 0 0 57rem;
    transition: transform 1s cubic-bezier(0.28, 0.8, 0.59, 1.2);
    transform: translateY(var(--move));

    @include breakpoint(xl) {
      flex: 1;
      img {
        width: 400px;
      }
    }

    @include breakpoint(xl) {
      img {
        width: auto;
      }
    }
  }

  &-lead {
    font-size: 5.8rem;
    font-weight: 400;
    line-height: 7rem;
    letter-spacing: -0.03em;

    margin: 0;

    @include breakpoint(xl) {
      font-size: 4rem;
      line-height: 6rem;
      letter-spacing: -0.02em;
    }

    @include breakpoint(lg) {
      font-size: 2.9rem;
      line-height: 4.2rem;
    }
  }

  &-sub {
    border-left: 0.5px solid #8a8a8a;

    min-height: 28.4rem;

    margin-top: 6.3rem;
    padding-left: 3rem;

    @include breakpoint(lg) {
      border-left: 0;

      min-height: 0;

      padding-left: 0;
      padding-bottom: 3rem;
      margin-top: 2.8rem;
    }
  }

  &-description {
    font-size: 3rem;
    line-height: 3.8rem;
    letter-spacing: -0.025em;

    @include breakpoint(lg) {
      color: rgba($grey-3, 0.5);
      font-size: 2.2rem;
      line-height: 2.8rem;
    }
  }

  &-link {
    margin-top: 1.6rem;

    @include breakpoint(lg) {
      margin-top: 2.4rem;

      a {
        justify-content: flex-end;
      }
    }

    @include breakpoint(sm) {
      a {
        justify-content: flex-start;
      }
    }
  }
}

.team {
  background-color: $main;

  padding-top: 16.6rem;
  margin-top: -25rem;

  position: relative;
  z-index: 2;

  @include breakpoint(xl) {
    margin-top: 0;
    padding-top: 6.4rem;
    padding-bottom: 8.7rem;
  }

  .intro-content {
    margin-top: 2rem;
    text-align: left;

    @include breakpoint(lg) {
      margin-top: 5.5rem;
    }
  }

  .intro-lead {
    font-size: 7.3rem;
    line-height: 8.2rem;
    letter-spacing: -0.03em;

    margin-top: 3rem;

    @include breakpoint(lg) {
      font-size: 4.2rem;
      line-height: 4.8rem;
      letter-spacing: -0.02em;

      margin-top: 4rem;
    }
  }

  .intro-sub {
    border-color: $grey-2;
    padding-right: 18rem;

    margin-top: 10.5rem;

    @include breakpoint(lg) {
      padding: 0;
      margin-top: 4.8rem;
    }
  }

  .intro-description {
    @include breakpoint(lg) {
      color: $grey-2;
    }
  }

  .intro-thumb {
    text-align: center;
    padding-left: 4rem;

    @include breakpoint(lg) {
      padding-left: 0;

      img {
        width: 32.7rem;
      }
    }
  }

  .intro-description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.025em;
  }

  .intro-link {
    margin-top: 5rem;
    margin-left: 2rem;

    a {
      color: $grey-2;
      justify-content: flex-start;
    }

    svg {
      stroke: $grey-2;
    }

    @include breakpoint(lg) {
      margin-left: 0;
    }
  }
}

.wave-svg {
  width: 38rem;
  height: 38.8rem;

  path {
    stroke: $grey-2;

    @for $i from 0 through 55 {
      &:nth-child(#{$i}) {
        animation: flash 1s linear infinite;
        animation-delay: $i / 10 + s;
      }
    }
  }

  @include breakpoint(lg) {
    width: 32.7rem;
    height: 33.4rem;
  }
}
