-
  var navLinks = [
    {
      label: 'About us',
      link: 'https://www.google.com/'
    },
    {
      label: 'Sustainability',
      link: 'https://www.google.com/'
    },
    {
      label: 'Insights & News',
      link: 'https://www.google.com/'
    },
    {
      label: 'Strategies',
      link: 'https://www.google.com/'
    },
    {
      label: 'Funds',
      link: 'https://www.google.com/'
    },
    {
      label: 'How to Invest',
      link: 'https://www.google.com/'
    }
  ]

header.header
  .container
    nav.nav
      .nav-brand
        a.block(href='#')
          img.block(src='/src/assets/images/logo.svg' alt='nikkoam logo')
      .flex.items-center
        .nav-bar#navBar
          ul.nav-list
            each link in navLinks
              li.nav-item
                a(href=link.link).nav-link=link.label

          .nav-bar__dropdown
            a.flex.items-center.nav-bar__dropdown-toggle(href='https://www.google.com/')
              span.nav-bar__dropdown-text Singapore
              img(src='/src/assets/images/icons/triangle-down.svg' alt='icon')

        .nav-bar__search
          a.block(href='#')
            img.block(src='/src/assets/images/icons/search.svg' alt='icon')
        .nav-bar__toggle(target='#navBar')
          span
          span