doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Huge Code Challenge
    //- Favicon
    // link(rel="icon" type="image/png" sizes="32x32" href="img/favicon.ico")
    // Fonts
    //- Plugin CSS
    // Styles
    link(rel="stylesheet" href="/src/assets/styles/css/styles.css")
    block head_end
  body
    
    include header
    
    main.main.smooth-content
      block content

    include ../components/loader

    // Scripts
    script(src='/src/assets/js/lib/jquery.min.js')
    script(src='/src/assets/js/lib/image-loaded.min.js')
    script(src="/src/assets/js/lib/gsap/gsap.min.js")
    script(src="/src/assets/js/lib/gsap/ScrollTrigger.min.js")
    script(src='/src/assets/js/loader-animation.js')
    script(src='/src/assets/js/page-animation.js')
    script(src='/src/assets/js/main.js')
    block body_end