.hero
  .flex
    div
      img(src='/src/assets/images/hero-curve.svg' alt='curve svg')
    div
      h1.hero-lead
        |Progressive Solutions
        br
        |Competitive Performance
        br
        |Global Citizen with Asian DNA