-
  var data = {
    thumbUrl: '/src/assets/images/hero-curve.svg',
    thumbUrlSmall: '/src/assets/images/hero-curve-mobile.svg',
    headline: '',
    titles: ['Progressive Solutions', 'Competitive Performance', 'Global Citizen with Asian DNA'],
    description: 'We’re one of Asia’s largest asset managers.',
    link: 'Learn more about who we are',
  }

.intro
  +introSection(data)