-
  var data = {
    thumbUrl: '/src/assets/images/curve.svg',
    headline: 'Team of unique combination',
    titles: ['Global Intelligence', 'Asian Insights', 'Local Experience'],
    description: 'We transform intelligent insights into innovative, relevant investment opportunities for our clients. Leveraging our unique combination of a global perspective complemented by our Asian DNA, we aspire to create sophisticated and diverse solutions that set new standards in the asset management industry.',
    link: 'Learn more about what makes us unique' 
  }

.team.text-white
  +introSection(data)